In [44]:
import pandas as pd
from Bio import SeqIO

In [45]:
#create a cumulative score to select a "best" protein sequence

In [46]:
vae_no_ea = pd.read_csv('/Users/alexandre/Desktop/VAE_cov_res.csv')

In [47]:
vae_no_ea.head()

,proteins,solubility_rules,synthesis_rules
0,MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...,2.0,45.0
1,MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...,2.0,45.0
2,MAWIYVILAIIEIFVIGLKHAEGYTLEALGIIISFILLSRAIKKLP...,2.0,45.0
3,MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...,2.0,45.0
4,MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...,2.0,45.0

In [48]:
score1 = vae_no_ea['synthesis_rules'] / vae_no_ea['solubility_rules']
proteins1 = vae_no_ea['proteins']
new_data1 = {'proteins': proteins1,'score':score1}
df1 = pd.DataFrame(new_data1)

In [49]:
df1.head()

                                            proteins  score
0  MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...   22.5
1  MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...   22.5
2  MAWIYVILAIIEIFVIGLKHAEGYTLEALGIIISFILLSRAIKKLP...   22.5
3  MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...   22.5
4  MAWIYVILAIIEIFVIGLKHAEGYTLEALGILISFILLSRAIKKLP...   22.5

In [50]:
df1= df1.sort_values(by='score', ascending=True)

In [51]:
df1.head()

                                               proteins  score
4020  MSNPKITKAYIFLVLALIEIISIGLKLSHGFSRPSLTIIGILVSFY...    7.0
4077  MSNPKITKAYIFLVLALIEIISIGLKLSHGFSRPSLTIIGILVSFY...    7.0
4079  MSNPKITKAYIFLVLALIEIISIGLKLSHGFSRPSLTIIGILVSFY...    7.0
4080  MSNPKITKAYIFLILALIEIISIGLKLSHGFSRPSLTIIGILVSFY...    7.0
4082  MSNPKITKAYIFLVLALIEIISIGLKLSHGFSRPSLTIIGILVSFY...    7.0

In [53]:
df1['proteins'][4020]

'MSNPKITKAYIFLVLALIEIISIGLKLSHGFSRPSLTIIGILVSFYLLGKALKKIPTAKS'